@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fredoka Light';
    src: url('./assets/fonts/Fredoka-Light.ttf');
}

@font-face {
    font-family: 'Fredoka Medium';
    src: url('./assets/fonts/Fredoka-Medium.ttf');
}

body {
    background-color: #121212;
}
